#sidebar{
  background: $dark_blue;
  height: 100vh;
  display: block;
  position: relative;
  #title-sidebar{
    height: 160px;
    width: 100%;
    background:  $dark_blue;
    text-align: center;
    color: $white;
    .picture-profile{
      margin-top: 18px;
      display: block;
      width: 100px;
      height: 100px;
      margin: 20px auto;
      border: 2px solid #eee;
      border-radius: 100%;
      background: rgba(255,255,255,0.5);
      line-height: 100px;
      position: relative;
      img{
        display: block;
        width: 100%;
        border-radius: 100%;
      }
    }
    h3{
      font-size: 15.7px;
      font-weight: 500;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .title-sidebar{
    margin-top: 31px;
    line-height: 30px;
    height: 30px;
    width: 100%;
    padding-left: 6px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  ul{

    width: 100%;
    li{
      height: 40px;
      line-height: 40px;
      padding-left: 8px;

      width: 100%;
      text-align: left  ;
      &.active,&:hover{
        background: $dark_active_blue;
        border-right: 4px solid $active_yellow;
      }

      a{
        @include text-decoration-none();
        color: #fefefe;
        display: block;
        .text{
          font-size: 12px;
        }
        .font{
          margin-right: 6px;
          &:before,&:after{
            font-size: 12px;
            color: #fefefe;
          }

        }
      }
    }
  }
}


@media only screen and (min-width: 240px) {

}

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 767px) {

}

@media only screen and (min-width: 979px) {

}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1600px) {
}

@media only screen and (min-width: 1921px) {

}