/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*--- web font lato & Playfair Display + open sans*/
/*--- body*/
/* line 39, ../sass/variable.scss */
div.clear {
  clear: both;
}

/* line 43, ../sass/variable.scss */
.fixed {
  position: fixed;
}

/*--- font */
/* line 77, ../sass/variable.scss */
body {
  overflow: auto;
  padding: 0 !important;
  margin: 0 !important;
  font-family: "Quicksand", "Lato", arial, helvetica, sans-serif !important;
  background-color: #fafcfe !important;
}

/* line 86, ../sass/variable.scss */
.loading-bar {
  background-color: #27ae60 !important;
  z-index: 1001;
  top: 0;
  height: 3px;
  position: absolute;
}

/* line 95, ../sass/variable.scss */
.loading-page {
  padding: 0px;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: #fafcfe;
  display: table;
  text-align: center;
}
/* line 106, ../sass/variable.scss */
.loading-page div {
  display: table-cell;
  vertical-align: middle;
}
/* line 110, ../sass/variable.scss */
.loading-page div #logo {
  display: inline-block;
  width: 150px;
  margin: 1vh auto 15px;
  border: 0px solid #fff;
}

/* line 119, ../sass/variable.scss */
.no-padding {
  padding: 0;
}

/* line 123, ../sass/variable.scss */
.no-padding-left {
  padding-left: 0px;
}

/* line 127, ../sass/variable.scss */
.no-padding-right {
  padding-right: 0px;
}

@font-face {
  font-family: "chat-icon";
  src: url("../fonts/chat-icon/Flaticon.eot");
  src: url("../fonts/chat-icon/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/chat-icon/Flaticon.woff") format("woff"), url("../fonts/chat-icon/Flaticon.ttf") format("truetype"), url("../fonts/chat-icon/Flaticon.svg#chat-icon") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "chat-bell";
  src: url("../fonts/font-bell/Flaticon.eot");
  src: url("../fonts/font-bell/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/font-bell/Flaticon.woff") format("woff"), url("../fonts/font-bell/Flaticon.ttf") format("truetype"), url("../fonts/font-bell/Flaticon.svg#chat-bell") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "font-settings";
  src: url("../fonts/font-settings/Flaticon.eot");
  src: url("../fonts/font-settings/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/font-settings/Flaticon.woff") format("woff"), url("../fonts/font-settings/Flaticon.ttf") format("truetype"), url("../fonts/font-settings/Flaticon.svg#font-settings") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "font-home";
  src: url("../fonts/font-home/Flaticon.eot");
  src: url("../fonts/font-home/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/font-home/Flaticon.woff") format("woff"), url("../fonts/font-home/Flaticon.ttf") format("truetype"), url("../fonts/font-home/Flaticon.svg#font-home") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "font-calendar";
  src: url("../fonts/font-calendar/Flaticon.eot");
  src: url("../fonts/font-calendar/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/font-calendar/Flaticon.woff") format("woff"), url("../fonts/font-calendar/Flaticon.ttf") format("truetype"), url("../fonts/font-calendar/Flaticon.svg#font-calendar") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "font-logout";
  src: url("../fonts/font-logout/Flaticon.eot");
  src: url("../fonts/font-logout/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/font-logout/Flaticon.woff") format("woff"), url("../fonts/font-logout/Flaticon.ttf") format("truetype"), url("../fonts/font-logout/Flaticon.svg#font-logout") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "font-team";
  src: url("../fonts/font-team/Flaticon.eot");
  src: url("../fonts/font-team/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/font-team/Flaticon.woff") format("woff"), url("../fonts/font-team/Flaticon.ttf") format("truetype"), url("../fonts/font-team/Flaticon.svg#font-team") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "font-edit";
  src: url("../fonts/font-edit/Flaticon.eot");
  src: url("../fonts/font-edit/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/font-edit/Flaticon.woff") format("woff"), url("../fonts/font-edit/Flaticon.ttf") format("truetype"), url("../fonts/font-edit/Flaticon.svg#font-edit") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "font-add-simple";
  src: url("../fonts/font-add-simple/Flaticon.eot");
  src: url("../fonts/font-add-simple/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/font-add-simple/Flaticon.woff") format("woff"), url("../fonts/font-add-simple/Flaticon.ttf") format("truetype"), url("../fonts/font-add-simple/Flaticon.svg#font-add-simple") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "font-send-enter";
  src: url("../fonts/font-send-enter/Flaticon.eot");
  src: url("../fonts/font-send-enter/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/font-send-enter/Flaticon.woff") format("woff"), url("../fonts/font-send-enter/Flaticon.ttf") format("truetype"), url("../fonts/font-send-enter/Flaticon.svg#font-send-enter") format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "font-lock";
  src: url("../fonts/font-lock/Flaticon.eot");
  src: url("../fonts/font-lock/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/font-lock/Flaticon.woff") format("woff"), url("../fonts/font-lock/Flaticon.ttf") format("truetype"), url("../fonts/font-lock/Flaticon.svg#font-lock") format("svg");
  font-style: normal;
  font-weight: normal;
}
/* line 16, ../sass/variable.scss */
.font-settings:before, .font-settings:after {
  font-family: "font-settings";
  font-size: 24px;
  font-style: normal;
  color: #acaaab;
}
/* line 22, ../sass/variable.scss */
.font-settings:before {
  content: "\f100";
}

/* line 16, ../sass/variable.scss */
.font-home:before, .font-home:after {
  font-family: "font-home";
  font-size: 24px;
  font-style: normal;
  color: #fff;
}
/* line 22, ../sass/variable.scss */
.font-home:before {
  content: "\f100";
}

/* line 16, ../sass/variable.scss */
.font-calendar:before, .font-calendar:after {
  font-family: "font-calendar";
  font-size: 24px;
  font-style: normal;
  color: #fff;
}
/* line 22, ../sass/variable.scss */
.font-calendar:before {
  content: "\f100";
}

/* line 16, ../sass/variable.scss */
.font-team:before, .font-team:after {
  font-family: "font-team";
  font-size: 24px;
  font-style: normal;
  color: #fff;
}
/* line 22, ../sass/variable.scss */
.font-team:before {
  content: "\f100";
}

/* line 16, ../sass/variable.scss */
.font-logout:before, .font-logout:after {
  font-family: "font-logout";
  font-size: 24px;
  font-style: normal;
  color: #acaaab;
}
/* line 22, ../sass/variable.scss */
.font-logout:before {
  content: "\f100";
}

/* line 16, ../sass/variable.scss */
.font-edit:before, .font-edit:after {
  font-family: "font-edit";
  font-size: 24px;
  font-style: normal;
  color: #acaaab;
}
/* line 22, ../sass/variable.scss */
.font-edit:before {
  content: "\f100";
}

/* line 16, ../sass/variable.scss */
.font-lock:before, .font-lock:after {
  font-family: "font-lock";
  font-size: 24px;
  font-style: normal;
  color: #acaaab;
}
/* line 22, ../sass/variable.scss */
.font-lock:before {
  content: "\f100";
}

/* line 16, ../sass/variable.scss */
.font-send-enter:before, .font-send-enter:after {
  font-family: "font-send-enter";
  font-size: 24px;
  font-style: normal;
  color: #acaaab;
}
/* line 22, ../sass/variable.scss */
.font-send-enter:before {
  content: "\f100";
}

/* line 16, ../sass/variable.scss */
.font-add-simple:before, .font-add-simple:after {
  font-family: "font-add-simple";
  font-size: 24px;
  font-style: normal;
  color: #acaaab;
}
/* line 22, ../sass/variable.scss */
.font-add-simple:before {
  content: "\f100";
}

/* line 154, ../sass/variable.scss */
.font-chat:before, .font-chat:after {
  font-family: 'chat-icon';
  font-size: 24px;
  font-style: normal;
  color: #acaaab;
}
/* line 160, ../sass/variable.scss */
.font-chat:before {
  content: "\f100";
}

/* line 166, ../sass/variable.scss */
.font-notification:before, .font-notification:after {
  font-family: 'chat-bell';
  font-size: 24px;
  font-style: normal;
  color: #acaaab;
}
/* line 172, ../sass/variable.scss */
.font-notification:before {
  content: "\f100";
}

@media only screen and (min-width: 240px) {
  /* line 4, ../sass/chat.scss */
  #container-chat {
    position: relative;
    width: 100%;
    display: block;
    height: calc(100vh - 60px);
  }
  /* line 10, ../sass/chat.scss */
  #container-chat #chat {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  /* line 17, ../sass/chat.scss */
  #container-chat #chat #message-chat {
    height: calc(100vh - 160px);
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    padding: 25px;
    overflow-y: auto;
  }
  /* line 27, ../sass/chat.scss */
  #container-chat #chat #input-chat {
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    padding: 15Px;
  }
  /* line 37, ../sass/chat.scss */
  #container-chat #chat #bloc-input {
    height: 70px;
    border: 1px solid #ccc;
    position: relative;
    width: 100%;
  }
  /* line 43, ../sass/chat.scss */
  #container-chat #chat #bloc-input #bloc-pic {
    height: 68px;
    float: left;
    line-height: 68px;
    width: 70px;
    text-align: center;
    border-right: 1px solid #ccc;
  }
  /* line 50, ../sass/chat.scss */
  #container-chat #chat #bloc-input #bloc-pic img {
    display: block;
    margin: 10px auto;
    border-radius: 100%;
  }
  /* line 56, ../sass/chat.scss */
  #container-chat #chat #bloc-input #input-text {
    height: 68px;
    width: calc(100% - 185px);
    line-height: 68px;
    border: 0px;
    border-right: 1px solid #ccc;
    padding-left: 15px;
    padding-right: 15px;
    background: #ecf0f1;
  }
  /* line 67, ../sass/chat.scss */
  #container-chat #chat #bloc-input #input-send {
    padding: 10px;
  }
  /* line 32, ../sass/variable.scss */
  #container-chat #chat #bloc-input #input-send:hover, #container-chat #chat #bloc-input #input-send:focus, #container-chat #chat #bloc-input #input-send:active {
    text-decoration: none;
    outline: 0;
  }
  /* line 71, ../sass/chat.scss */
  #container-chat #chat #bloc-input #input-send i:before {
    font-size: 12px;
    margin-right: 7px;
  }
  /* line 76, ../sass/chat.scss */
  #container-chat #chat #bloc-input #input-send .txt-send {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    color: #acaaab;
    text-transform: uppercase;
    font-size: 12px;
  }

  /* line 88, ../sass/chat.scss */
  .d-day {
    display: block;
    width: 100%;
    margin: 10px auto 60px;
    text-align: center;
    font-style: italic;
    color: #acaaab;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
  }

  /* line 99, ../sass/chat.scss */
  #messages-list-item {
    position: relative;
    overflow: auto;
    height: 100%;
  }

  /* line 104, ../sass/chat.scss */
  .message-item {
    width: 60%;
    display: block;
  }
  /* line 107, ../sass/chat.scss */
  .message-item .time {
    text-align: center;
    font-size: 14px;
    margin-top: 6px;
  }
  /* line 112, ../sass/chat.scss */
  .message-item .text {
    display: block;
    padding: 20px;
  }
  /* line 117, ../sass/chat.scss */
  .message-item.other-message {
    float: left;
  }
  /* line 119, ../sass/chat.scss */
  .message-item.other-message .text {
    color: #fff;
    background: #60addd;
  }
  /* line 124, ../sass/chat.scss */
  .message-item.mine-message {
    float: right;
  }
  /* line 126, ../sass/chat.scss */
  .message-item.mine-message .text {
    float: left;
    width: 80%;
    background: #fff;
    margin-right: 1%;
  }
  /* line 132, ../sass/chat.scss */
  .message-item.mine-message .user-i {
    float: left;
    width: 19%;
  }
  /* line 135, ../sass/chat.scss */
  .message-item.mine-message .user-i img {
    display: block;
    margin: 0px auto 6px;
    border-radius: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 158, ../sass/chat.scss */
  .message-item {
    width: 700px;
    display: block;
    margin-bottom: 64px;
  }
  /* line 163, ../sass/chat.scss */
  .message-item .text {
    display: block;
    position: relative;
    padding: 30px 20px;
    line-height: 25px;
  }
  /* line 169, ../sass/chat.scss */
  .message-item.other-message {
    float: left;
  }
  /* line 171, ../sass/chat.scss */
  .message-item.other-message .text {
    background: #60addd;
    width: 603px;
    float: left;
  }
  /* line 176, ../sass/chat.scss */
  .message-item.other-message .text .nameuser {
    font-weight: bold;
  }
  /* line 179, ../sass/chat.scss */
  .message-item.other-message .text .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 18.6px 10px 0;
    border-color: transparent #60addd transparent transparent;
    line-height: 0;
    position: absolute;
    top: 22px;
    left: -18px;
  }
  /* line 191, ../sass/chat.scss */
  .message-item.other-message .user-i {
    float: left;
    width: 70px;
    margin-right: 25px;
  }
  /* line 196, ../sass/chat.scss */
  .message-item.other-message .user-i img {
    display: block;
    margin: 0px auto 6px;
    border-radius: 100%;
    width: 60px;
  }
  /* line 205, ../sass/chat.scss */
  .message-item.mine-message {
    float: right;
  }
  /* line 207, ../sass/chat.scss */
  .message-item.mine-message .text {
    float: left;
    width: 603px;
    background: #fff;
    margin-right: 25px;
  }
  /* line 213, ../sass/chat.scss */
  .message-item.mine-message .text .nameuser {
    font-weight: bold;
  }
  /* line 216, ../sass/chat.scss */
  .message-item.mine-message .text .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 18.6px;
    border-color: transparent transparent transparent #fff;
    line-height: 0;
    position: absolute;
    top: 22px;
    right: -18px;
  }
  /* line 228, ../sass/chat.scss */
  .message-item.mine-message .user-i {
    float: left;
    width: 70px;
  }
  /* line 232, ../sass/chat.scss */
  .message-item.mine-message .user-i img {
    display: block;
    margin: 0px auto 6px;
    border-radius: 100%;
    width: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 244, ../sass/chat.scss */
  .message-item {
    width: 800px;
    display: block;
    margin-bottom: 64px;
  }
  /* line 249, ../sass/chat.scss */
  .message-item .text {
    display: block;
    position: relative;
    padding: 30px 20px;
    line-height: 25px;
  }
  /* line 255, ../sass/chat.scss */
  .message-item.other-message {
    float: left;
  }
  /* line 257, ../sass/chat.scss */
  .message-item.other-message .text {
    background: #60addd;
    width: 703px;
    float: left;
  }
  /* line 262, ../sass/chat.scss */
  .message-item.other-message .text .nameuser {
    font-weight: bold;
  }
  /* line 265, ../sass/chat.scss */
  .message-item.other-message .text .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 18.6px 10px 0;
    border-color: transparent #60addd transparent transparent;
    line-height: 0;
    position: absolute;
    top: 22px;
    left: -18px;
  }
  /* line 277, ../sass/chat.scss */
  .message-item.other-message .user-i {
    float: left;
    width: 70px;
    margin-right: 25px;
  }
  /* line 282, ../sass/chat.scss */
  .message-item.other-message .user-i img {
    display: block;
    margin: 0px auto 6px;
    border-radius: 100%;
    width: 60px;
  }
  /* line 291, ../sass/chat.scss */
  .message-item.mine-message {
    float: right;
  }
  /* line 293, ../sass/chat.scss */
  .message-item.mine-message .text {
    float: left;
    width: 703px;
    background: #fff;
    margin-right: 25px;
  }
  /* line 299, ../sass/chat.scss */
  .message-item.mine-message .text .nameuser {
    font-weight: bold;
  }
  /* line 302, ../sass/chat.scss */
  .message-item.mine-message .text .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 18.6px;
    border-color: transparent transparent transparent #fff;
    line-height: 0;
    position: absolute;
    top: 22px;
    right: -18px;
  }
  /* line 314, ../sass/chat.scss */
  .message-item.mine-message .user-i {
    float: left;
    width: 70px;
  }
  /* line 318, ../sass/chat.scss */
  .message-item.mine-message .user-i img {
    display: block;
    margin: 0px auto 6px;
    border-radius: 100%;
    width: 60px;
  }
}
